/* insert you css */
h1{
    font-family: "Bebas Neue", sans-serif;
    font-size: 60px;
    color: black; 
    text-align: center;
    margin-top: 50px;
}

.column {
    float: left;
    width: 800px;
    margin-left: 60px;
    margin-right: 130px;

    }

.row:after {
    content:"";
    display: table;
    clear: both;
}


p{
    font-family: "Helvetica Neue", sans-serif;
    font-size: 24px;
    font-weight: 350;
    line-height: 31px;
    color: black;
    text-align: left;
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: -60px;
}

p2{
    font-family: "Helvetica Neue", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    color: black;
    text-align: left;
    margin-top: 80px;
    margin-bottom: 70px;
    margin-left: -60px;
}

p3{
    font-family: "Helvetica Neue", sans-serif;
    font-size: 18px;
    font-weight:350;
    line-height: 23px;
    color: black;
    text-align: center;
}

p4{
    font-family: "Helvetica Neue", sans-serif;
    font-size: 18px;
    font-weight:200;
    line-height: 23px;
    color: black;
    text-align: center;
}

p5{
    font-family: "Helvetica Neue", sans-serif;
    font-size: 18px;
    font-weight:450;
    line-height: 23px;
    color: black;
    text-align: center;
}

.grow{
    font-size: 80px;
    transition: all 1.0s ease-in-out;

}

.grow:hover{
    font-size: 150px;
    color: red;
    
}

.video{
    width: 100%;
    height: 70%;
    margin-left: -10px;

}


.gif{
    max-width: 90%;
    height: auto;
    margin-top: 100px;
    margin-bottom: 20px;

}


.button {
    text-align: center;
    
}














